
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fc;
  color:#5a2a83;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

.terms-hero {
  background: linear-gradient(135deg,#5a2a83,#5a2a83, #f72585);
  padding: 70px 20px;
  text-align: center;
  color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 5px 15px #3b274d;
  animation: fadeIn 1.4s ease-in-out;
}

.terms-hero h1 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.terms-hero p {
  font-size: 1.1rem;
  opacity: 0.85;
}


.terms-container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 20px;
  animation: slideUp 1.4s ease-in-out;
}

.terms-card {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 14px;
  border: 1px solid #ddd; /* border for all cards */
  box-shadow: 0 3px 8px  #3b274d;
  transition: all 0.3s ease;
}

.terms-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 22px  #3b274d;
  border-color: #5a2a83; /* border highlight */
}

.terms-card h2 {
  font-size: 2.2rem;
  color: #5a2a83;
  margin-bottom: 12px;
}

.terms-card h3 {
  font-size: 2rem;
  color: #5a2a83;;
  margin-top: 15px;
  margin-bottom: 12px;
}

.terms-card p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 12px;
}

/* ---------- Lists ---------- */
.terms-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.terms-list li {
  margin-bottom: 12px;
  padding-left: 28px;
  position: relative;
}

.terms-list li::before {
  content: "✔";
  color:#555;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

.contact-section h2 {
  color: #5a2a83;;
}

.contact-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.contact-list li {
  margin: 12px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-list a {
  display: inline-block;
  background: #fff;
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #5a2a83;
  text-decoration: none;
  transition: all 0.3s ease;
}
.contact-list a:hover {
  background: #5a2a83;
  color: #fff;
  border-color: #5a2a83;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ---------- Responsive ---------- */
@media (max-width: 768px) {
  .terms-hero h1 {
    font-size: 2rem;
  }

  .terms-card {
    padding: 20px;
  }
}
